@model IEnumerable<CA2_OrderSystem.Models.Stock>

@{
    ViewData["Title"] = "Stock";
}

<h1><img src="~/css/images/Stock_Image.jpg" alt="Stock Image" /> Stock</h1>

<p>
    
    <a asp-action="Create">Add New Stock Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
